.hubMessageText {
    font-size: 20px; /* Default font size for larger screens */
    font-weight: bold;
    font-style: italic;
    text-align: center;
  }
  
  /* For small screens (mobile devices) */
  @media (max-width: 600px) {
    .hubMessageText {
      font-size: 15px; /* Smaller font size on mobile */
    }
  }
  
