/* OurLocation.css */

.location-container {
  text-align: center;
}

.location-link {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.map-container {
  width: 100%;
  height: 400px;
  margin-top: 20px;
}
