.custom-navbar {
  background-color: #dfdfdf !important;
  border-radius: 6px;
  font-size: 18px;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

@media (max-width: 576px) {
  .nav-links {
    flex-direction: column;
    text-align: center;
    gap: 0;
  }
}

.navbar-nav .nav-link {
  color: var(--primary-color) !important;
}

.navbar-nav .nav-link:hover {
  color: var(--link-hover-color) !important;
}
