.custom-navbar {
  background-color: #dfdfdf !important;
  border-radius: 6px;
  font-size: 18px;
}

.nav-links {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 576px) {
  .nav-links {
    flex-direction: column;
    text-align: center;
  }

  .nav-links .nav-link {
    padding: 0.5rem 0;
  }
}

.navbar-nav .nav-item {
  margin-right: 1.5rem;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0;
}

.navbar-nav .nav-link {
  color: var(--primary-color) !important;
}

.navbar-nav .nav-link:hover {
  color: var(--link-hover-color) !important;
}

.navbar-nav .nav-link.fw-bold {
  font-weight: bold !important;
}
