.logo-item img {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.logo-item.fade-in img {
  opacity: 1;
  transform: translateY(0);
}

.logo-img {
  width: 60%;
}

@media (min-width: 768px) {
  .logo-img {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .logo-img {
    width: 50%;
  }
}
