.custom-footer {
  background-color: #dfdfdf;
  border-radius: 6px;
  padding: 20px 0;
  font-size: 16px;
}

.custom-footer p {
  margin: 0.5rem 0;
  color: var(--primary-color);
}

.footer-link {
  color: var(--primary-color);
  text-decoration: none;
}

.footer-link:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}
