@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");

:root {
  --primary-color: #044924;
  --primary-color-lighter: #085f31;
  --secondary-color: #555;
  --link-color: #408572;
  --link-hover-color: #03582b;
  --btn-bg: #4da38c;
  --btn-hover-bg: #3a816e;

  --font-size-h1: clamp(30px, 5vw, 45px);
  --font-size-h2: clamp(24px, 4vw, 32px);
  --font-size-h3: clamp(21px, 3.5vw, 28px);
  --font-size-h4: clamp(19px, 3vw, 25px);
  --font-size-h5: clamp(18px, 2.5vw, 23px);
  --font-size-h6: clamp(15px, 2vw, 18px);
  --font-size-p: clamp(14px, 2vw, 16px);
}

body {
  font-family: "Inter", sans-serif;
}

.heading {
  color: var(--primary-color-lighter);
}

.heading-1, .page-title {
  font-family: "Bungee", cursive;
  font-size: var(--font-size-h1);
  text-align: center;
  color: var(--primary-color);
}

.page-title {
  color: var(--primary-color-lighter);
  font-family: "Pacifico", cursive;

}

.heading-2, .heading-3, .heading-4, .heading-5, .heading-6 {
  font-family: "Pacifico", cursive;
}

.heading-2 { font-size: var(--font-size-h2); }
.heading-3 { font-size: var(--font-size-h3); }
.heading-4 { font-size: var(--font-size-h4); }
.heading-5 { font-size: var(--font-size-h5); }
.heading-6 { font-size: var(--font-size-h6); }

p {
  color: var(--secondary-color);
  font-size: var(--font-size-p);
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--link-hover-color);
}

.btn-custom {
  background-color: var(--btn-bg);
  color: white;
  border-radius: 5px;
  padding: 15px 30px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: var(--btn-hover-bg);
}

.mdb-input-wrapper label {
  position: static !important;
}
