body {
  font-family: Arial, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #044924 !important;
}

p {
  color: #555 !important;
}

a {
  color: #408572 !important;
  text-decoration: none !important;
}

a:hover {
  color: #03582b !important;
}

.btn {
  background-color: #4da38c !important;
  color: white !important;
  border: none !important;
  padding: 10px 20px !important;
  font-size: 1rem !important;
  cursor: pointer !important;
  border-radius: 5px !important;
  transition: background-color 0.3s ease !important;
}

.btn:hover {
  background-color: #31a888 !important;
}

.btn:focus {
  outline: none !important;
}

.btn-primary {
  background-color: #4da38c !important;
  color: white !important;
}

.btn-primary:hover {
  background-color: #046c34 !important;
}

.btn-secondary {
  background-color: #f0f0f0 !important;
  color: #333 !important;
}

.btn-secondary:hover {
  background-color: #4da38c !important;
}

a.btn:hover {
  background-color: #c5c5c5 !important;
}
